.center {
    margin: auto;
    padding: auto;
    width: 500px;
}

.center > button {
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    background-color: #1277ff;
}

.center > button:disabled {
    color: grey;
    padding: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.container {
    max-width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: none;
}

.line {
    flex: 1 0 800px;
    max-width: 800px;
    display: flex;
    align-items: stretch;
    justify-content: center;

}

.cell {
    color: black;
    border-color: grey;
    border-style: solid;
    border: 0px 0px 0px 0px;
    margin: 0;
    max-height: 2em;
    max-width: 2em;
    height: 6rem;
    width: 6rem;

    margin-left: -3px;
    margin-bottom: -3px;
    text-align: center;
    font-size: 32px;

    line-height: 2em;

    transition: background-color 0.5s, transform 0.5s;
}

.edit-cell {
    color: black;
    border-color: black;
    border-style: solid;
    border: 0px 0px 0px 0px;
    margin: 0;
    max-height: 2.2em;
    height: 6rem;

    margin-left: -3px;
    margin-bottom: -3px;
    text-align: center;
    font-size: 32px;

    line-height: 2em;

    cursor: pointer;
    max-width: 2.2em;
    width: 2.2em;
    background-color: grey;
    color: white;

}

.cell:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}